@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-y: hidden;
}

// Возможность прокрутки на страницы сохраненных товаров
.bodyy {
  overflow-y: auto;
}

// Показ страницы
.dblock {
  display: block !important;
  z-index: 0 !important;
}

.show {
  opacity: 1 !important;
}

// Скрытие страницы
.dnone {
  display: none !important;
  z-index: -1 !important;
}

.hide {
  opacity: 0 !important;
}

// Визуальное отображение, что была нажата кнопка Заказать
.order {
  background: rgb(242, 255, 217);
}

// Стиль кнопок
.button {
  padding: 4px;
  margin: 4px;
  color: #333333;
  border: 1px solid #333333;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 800;
  cursor: pointer;
}

// КОНТЕЙНЕРЫ

// Главный контейнер
.container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
}

// Верхнее меню
.saved {
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-end;
}

// Контейнеры ленты товаров и сохранненых товаров
.select-wrapper,
.saved-wrapper {
  transition: opacity 0.2s ease-in, z-index 0.4s ease-in;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.select-wrapper {
  flex: 1 1 auto;
}

.saved-wrapper {
  display: none;
  width: 100%;
  z-index: 2 !important;
}

.swiper-container {
  flex: 1 1 auto;
  transition: opacity 0.4s ease-in;
  width: 100%;
  height: 100%;
  height: calc(100% - 40px);
}

// КАРТОЧКА ТОВАРОВ

.swiper-slide {
  display: flex;
  background: #ffffff;
  flex-direction: column;

}

.swiper-slide__img {
  flex: 1 1 auto;
  display: flex;
  background: #f2f2f2;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: grab;
}

.swiper-slide-meta {
  flex: 0 1 auto;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  background: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
}

.swiper-slide-meta-buttons {
  width: 100%;
  display: flex;
}

.swiper-slide-meta-buttons .button {
  padding-top: 15px;
  padding-bottom: 15px;
}

.swiper-slide-meta-buttons__next {
  flex: 0 1 auto;
  transform: scale3d(1.2);
}

.swiper-slide-meta-buttons-action {
  flex: 1 1 auto;
}

.sLike {
  &>.swiper-slide-meta-buttons-action__like {
    display: flex !important;
  }

  &>.swiper-slide-meta-buttons-action__dislike,
  .swiper-slide-meta-buttons__saved {
    display: none !important;
  }
}

.sDislike {
  * {
    .swiper-slide-meta-buttons-action__dislike {
      display: flex !important;
    }

    .swiper-slide-meta-buttons-action__like,
    .swiper-slide-meta-buttons__saved {
      display: none !important;
    }
  }
}

.sSaved {
  &~.swiper-slide-meta-buttons__saved {
    display: flex !important;
  }

  &~.swiper-slide-meta-buttons-action__dislike,
  .swiper-slide-meta-buttons-action__like {
    display: none !important;
  }
}

.swiper-slide-clone {
  transform: unset !important;
}

.swiper-slide__img__right {
  width: 50%;
}

.swiper-slide__img__left {
  width: 50%;
}

.swiper-slide-meta__info {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 10px;
}

.swiper-slide-meta__info__price {
  flex: 0 0 auto;
  font-size: 32px;
  margin-right: 4%;
}

.swiper-slide-meta__info__name {
  flex: 1 1 auto;
  font-size: 20px;
}

.swiper-slide-meta-buttons .button {
  color: #333333;
}

.swiper-slide-meta-buttons-action__like .button {
  background-color: #00A123;
  color: #ffffff;
  border-color: #00A123;
}

.swiper-slide-meta-buttons-action__like__add {
  flex: 1 0 auto;
}

.swiper-slide-meta-buttons-action__dislike {
  display: none;
  flex-wrap: wrap;
}

.swiper-slide-meta-buttons-action__dislike__remove {
  flex: 1 0 auto;
  min-width: 35px;

  .button {
    background-color: #FFA0A0;
    border-color: #FFA0A0;
  }
}

.swiper-slide-meta-buttons-action__dislike__saved {
  flex: 1 0 auto;

  .button {
    background-color: #FFE927;
    border-color: #FFE927;
  }
}

.swiper-slide-meta-buttons__saved {
  display: none;
  width: 100%;
}

.swiper-slide-meta-buttons__saved__remove,
.swiper-slide-meta-buttons__saved__order {
  flex: 1 1 auto;
}

// СТРАНИЦА СОХРАЕННЫХ ТОВАРОВ

.saved-wrapper {
  opacity: 0;
  z-index: -1;

  .swiper-slide {
    width: 100%;
    cursor: unset !important;
    margin-bottom: 40px;
    height: unset !important;
    flex: 0 0 auto;

    .swiper-slide__img {
      display: block;
      background: unset !important;
      cursor: unset !important;
      flex: 0 0 auto !important;
    }

    .swiper-slide__img__left,
    .swiper-slide__img__right {
      display: none;
    }

    img {
      width: 100%;
      object-fit: contain;
    }

    .swiper-slide-meta-buttons-action,
    .swiper-slide-meta-buttons__next {
      display: none;
    }

    .swiper-slide-meta-buttons__saved {
      display: flex;
    }
  }
}

.saved-header {
  display: flex;
}

.saved-more {
  margin-bottom: 5px;
}

.saved-items {
  display: flex;
  flex-direction: column;
}

.saved-header__title {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 4px;
  flex: 1 0 auto;
}

.saved-header__more {
  flex: 1 0 auto;
}